<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/password.css">
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="horizontal-container">
              
              <div class="horizontal-form-box">
                <div class="horizontal-info-container text-center">
                  <img src="https://static.stayjapan.com/assets/top/icon/values-7dd5c8966d7a6bf57dc4bcd11b2156e82a4fd0da94a26aecb560b6949efad2be.svg" />
                  <p class="horizontal-heading">Reset your password</p>
                  <p class="horizontal-subtitle">Your password needs to be at least 8 characters.</p>
                </div>
                <form class="horizontal-form" action="/passwordReset/<%=token %>-<%=userId%>" method="post">
                <input type="hidden" name="userId" value="<%=userId%>">
                <input type="hidden" name="token" value="<%=token%>">
                <div class="o3-form-group">
                    <label for="new_password">New password</label>
                    <input type="password" name="password" class="o3-form-control o3-input-lg" id="new_password" required>
               </div>
                  <div class="o3-form-group">
                    <label for="confirm_password">Confirm new password</label>
                    <input type="password" name="cpassword" class="o3-form-control o3-input-lg" id="confirm_password">
                    </div>
                  <button class="o3-btn o3-btn-primary o3-btn-block" type="submit">Set new password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
</body>
</html>