
 @import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
 .offcanvas{
	 height: 100vh;
 }
 #fb{
	width:100%;
	border:1px solid gray;
	border-radius:5px;
	position:relative;
	height:135px;
	margin-bottom: 10px;
	
  }
  #fb p{
	font-family:sans-serif;
	margin: 0 0 0 10px;
	line-height:30px;
  }
  
  #fb-top span{
	color:#4267B2;
	float:right;
	margin-right:10px;
  }
  #fb-top{
	background-color:#efefef;
	height:30px;
	width:100%;
	border-radius:5px 5px 0 0;
	position:absolute;
	top:-1px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
  }
  .fb-bottom{
	  padding:5px 10px;
  }
  #fb img{
	position:absolute;
	left:10px;
	top:40.5px;
	height:80px;
	width:80px;
	border-radius: 50%;
  }
  
  #info{
	position:absolute;
	left:120px;
	top:65px;
  }
  
  #info {
	color:#4267B2;
	line-height:25px;
	font-size:18px;
  }
  
  #info span{
	color:#777;
	font-size:14px;
  }
  
  #button-block{
	position:absolute;
	right:10px;
	top:70px;
  }
  
  #button-block div{
	display:inline-block;
  }
  
  #confirm, #delete{
	background-color:#4267B2;
	color:white;
	padding:7px;
	border-radius:2px;
	margin-right:10px;
	font-family:sans-serif;
  }
  
  #delete{
	color:#222;
	background-color:#bbb;
	border:1px solid #999;
	padding:6px;
	margin-right:0;
  }
  
  #button-block div:hover{
	opacity:.8;
	cursor:pointer;
  }
  
  
  
  