<div
  class="offcanvas  offcanvas-end"
  tabindex="-1"
  id="offcanvasContact"
  aria-labelledby="offcanvasContactLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-back"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>

    <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
  </div>
  <div class="offcanvas-body">
    <div>
      <h2><%=receiver.name %></h2>
    </div>
  </div>
</div>
