<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasProfile"
  aria-labelledby="offcanvasProfileLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn-close text-back"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>

    <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
  </div>
  <div class="offcanvas-body">
    
    <div class="profile2  profile-<%=user.profileNum %>">
      <h2 class="profile-tag2"><%= user.username.substring(0,2).toUpperCase()%></h2>
    </div>
    <p><%=user.name%></p>
  </div>
</div>
